@{
    ViewBag.Title = "RedirectView";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="font-family:Century Gothic">
        <h1 class="display-4">Whops,</h1>
        <p class="lead">We have no blogs that can be seen at the moment, please come back later :)</p>
        <a href='@Url.Action("Index", "Home")' class="btn btn-dark">Home Page</a>
    </div>
</div>